body{
    margin: 0px;
    padding: 0px;
}
ul, ol{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
button{
    outline: none;
    cursor: pointer;
}

.flex{display: flex;}
.aic{align-items: center;}
.jic{justify-content: center;}

.fixed{position: fixed;}
.abs{position: absolute;}
.rel{position: relative;}

.noul{text-decoration: none;}

.bl{display: block;}

.cfff{color: #fff;}
.c333{color: #333;}
.c777{color: #777;}

.s13{font-size: 13px;}
.s15{font-size: 15px;}
.s20{font-size: 20px;}
.s24{font-size: 24px;}

.fontn{
    font-weight: normal;
}
.fontb{
    font-weight: bold;
}